
        * {
            box-sizing: border-box;
            font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 15px;
        }

        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }

        ul,li{
            list-style:none;
            padding:0;
            margin: 0;
        }

        
        
        /* NAV */
        nav {
            width: 100%;
            height: 55px;
        }

        .container {
            width: 1600px;
            max-width: 1600px;
            height: 100%;
            margin: auto;
            /* padding: 0 5%; */
        }

        /* NAV */
        nav .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        nav a {
            font-size: 13px;
        }

        .nav-left {
            display: flex;
            align-items: center;
        }

        nav .links {
            display: flex;
            align-items: center;
            height: 100%;
        }

        nav .links .link {
            margin: 0 15px;
        }

        nav .logo {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31);
            width: 108px;
            height: 23px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0 18px 0 12px;
        }

        nav .options {
            display: flex;
            align-items: center;
        }

        nav .options .option {
            margin: 0 20px;
            height: 100%;
            display: flex;
            align-items: center;
        }

        nav .options .option:last-child {
            margin-right: 8px;
        }

        nav .options .option div {
            width: 17px;
            height: 17px;
            background-position: center;
            background-size: cover;
            margin-left: 5px;
        }

        nav .options .option .all {
            background-image: url(./icon/下.jpg);
        }

        nav .options .option .search {
            background-image: url(./icon/搜尋.jpg);
        }

        nav .options .option .shop {
            background-image: url(./icon/購物車.jpg);
        }

        nav .options .option .user {
            background-image: url(./icon/登入.jpg);
            width: 30px;
            height: 30px;
            margin-left: 10px;
        }

        .option-lists{
            display: flex;
            flex-direction: column;
            position: relative;
            position: absolute;
            top: 55px;
            right: 80px;
            background-color: #F2F2F2;
            z-index: 1;
        }

        .option-list{
            width: 1228px;
            /* height: 388px; */
            z-index: 1;
            
            display: flex;
        }

        .option-list-item{
            width: 195px;
            height: 350px;
            display: flex;
            flex-direction: column;
        }

        .option-list-item span, .option-list-item a{
            padding: 12px 24px  ;
        }

        .option-list-item span{
            font-weight: 600;
            
        }

        .webmap{
            width: 100%;
            height: 36px;
            background-color: #E6E6E6;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom:2px solid black ;
            font-size: 13px;
        }




        /* main */
        /* banner */
        .banner {
            position: relative;
        }

        .banner picture img{
            width: 100%;
        }

        .banner picture{
            width: 90%;
        }

        .picture-textbox {
            width: max-content;
            position: absolute;
            top: calc(50% - 35px);
            left: 6%;
            transform: translateY(-50%);
        }

        .picture-title {
            font-size: 34px;
            font-weight: 600;
        }

        .picture-text {
            margin: 24px 0;
        }

        .picture-textbox .buy-box {
            width: max-content;
            padding: 8px 20px;
            background-color: black;
            color: white;
        }

        picture {
            position: relative;
        }

        .banner .btn {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: #f5f3f3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: darkgray;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 2px;
            display: none;
            
        }

        .banner .btn:nth-child(2) {
            right: 0;
        }

        picture:hover + .btn{
            box-shadow: 0px 0px 6px 0px black;
            display: flex;
            /* align-items: center; */
        }

        

        /* icon */
        .icons {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 17px 0 0px;
        }

        .icon {
            padding: 12px 6px;
            border: 2px solid transparent;
            width: 184px;
            font-weight: 600;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .icon-pic {
            width: 40px;
            height: 40px;
            background-position: center;
            background-size: cover;
            margin-bottom: 3px;
        }

        .icon1 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4sQDc?ver=30c2&q=90&m=6&h=40&w=40&b=%23FFFFFFFF&l=f&o=t&aim=true);
        }

        .icon2 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4pndL?ver=5217&q=90&m=6&h=40&w=40&b=%23FFFFFFFF&l=f&o=t&aim=true);
        }

        .icon3 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4pkvE?ver=d8fc&q=90&m=6&h=40&w=40&b=%23FFFFFFFF&l=f&o=t&aim=true);
        }

        .icons .icon span {
            width: 129px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .product {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .product-card {
            padding-bottom: 48px;
            width: calc(25% - 26px);
            height: max-content;
        }

        .product-card h1 {
            height: 48px;
            font-size: 24px;
        }

        .product-pic {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 22vh;
        }

        .pic1 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4FTtq?ver=dae2&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true);
        }

        .pic2 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4E4rR?ver=1daf&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true);
        }


        .pic3 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4H9G0?ver=5bb0&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true);
        }

        .pic4 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4rzE2?ver=aa0b&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true);
        }

        .product-text {
            padding-right: 12px;
        }

        .product-text h2 {
            font-size: 20px;
            margin: 38px 0 2px 0;
        }

        .buy-box-group {
            display: flex;
            font-weight: 600;
        }

        .product-card .buy-box {
            width: max-content;
            padding: 10px 16px 7px 0;
            border: 2px solid transparent;
            color: #0067b8;
        }

        .banner {
            padding-bottom: 40px;
        }

        .focous {
            display: flex;
            padding: 48px 0;
        }

        .focous span {
            margin-right: 12px;
        }

        .focous picture {
            width: 28px;
            height: 28px;
            margin-right: 18px;
        }

        .pic5 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4HCqV?ver=5c59&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true);
        }

        .pic6 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4E4rT?ver=2072&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true);
        }

        .pic7 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4CFyx?ver=25c5&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&x=839&y=615&aim=true);
        }

        .pci8 {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWyG26?ver=8f21&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true);
        }

        footer{
            background-color: #F2F2F2;
        }

        .information-group{
            width: 50%;
            display: flex;
            justify-content: space-between;
        }

        .information{
            display: flex;
            justify-content: space-between;
            color: #616161;
            flex-wrap: wrap;
        }

        .information-box{
            width: 228px;
            padding: 0 12px;
        }

        .information-box:nth-child(1){
            width: 216px;
            padding: 0;
            padding-right: 12px;
        }

        .information-title{
            padding: 36px 0 4px;
            font-weight: 600;
        }

        .infor{
            padding: 8px 0;
            color: #616161;
            font-size: 12px;
        }

        .footer-nav{
            display: flex;
            justify-content: space-between;
            padding: 30px 0 16px;
        }

        .footer-nav-left{
            display: flex;
            align-items: center;
        }

        .footer-nav-left li{
            font-size: 12px;
            color: #616161;
        }

        .footer-icon{
            background-image: url(./icon/erth.jpg);
            background-size: contain;
            background-position: center;
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }

        .footer-nav-right{
            display: flex;
            align-items: center;
        }

        .footer-nav-right li{
            padding-right :24px ;
            font-size: 12px;
            color: #616161;
        }

        @media(max-width:1400px){

            .container {
                width: 1210px;
                max-width: 1210px;
                height: 100%;
                margin: auto;
                /* padding: 0 5vw; */
            }
            .option-hidden{
                display: none;
            }

            .buy-box-group{
                flex-direction: column;
            }
        }

        @media(max-width:1080px){
            .container{
                width: 1020px;
                max-width: 1020px;
            }

            .information{
                display: flex;
                flex-wrap: wrap;
            }


        }
        
